<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        发送短信
        <small>发送短信</small>
    </h1> 
</section>
<!-- Main content -->
<section class="content container-fluid">



    <!-- 页面内容开始 -->
    <div class="row">        
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ .balance }}</h3>
                        <p>当前余额</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer" onclick="queryBalance()">更多信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
    </div>


    <!-- 页面内容结束 -->
</section>
<!-- /.content -->
