<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        发送短信
        <small>发送短信</small>
    </h1> 
</section>
<!-- Main content -->
<section class="content container-fluid">



    <!-- 页面内容开始 -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>手机号</label>
                <!-- <input type="text" id="mobiles" name="Mobiles" class="form-control" placeholder="最大10000个，号码之间以英文逗号,分隔" value="{{.m.UserName}}"> -->

                <textarea id="mobiles" name="Mobiles" class="form-control required" placeholder="直接输入手机号码，以回车键间隔" style="height: 300px"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>短信内容</label>
                <input type="text" id="content" name="Content" class="form-control" placeholder="短信不超过63个字符，超过则按照2条计价">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>签名</label>
                <input type="text" id="sign" name="Sign" class="form-control" placeholder="可以为空">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>发送定时时间</label>
                <!--指定 date标记-->
                <div class="input-group date">
                    <input type="text" class="form-control" id="datetimepicker"/>
                    {{/*disabled="disabled"*/}}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

            </div>
        </div>
        <div class="align-center">
            <button type="button" class="btn btn-primary" onclick="sendMessage()">发送</button>
            <button type="button" class="btn btn-default" onclick="returnList()" style="display: none">返回</button>
        </div>
    </div>


    <!-- bootstrap样式表 -->

    <!-- 时间选择器样式表 -->


    <!-- jquery -->
    <script src="/static/plugins/jquery-v3.3.1/jquery.min.js"></script>

    <!-- bootstrap脚本 -->

    <!-- 时间选择器前置脚本 -->
    <script src="/static/plugins/moment-v2.22.1/moment-with-locales.min.js"></script>

    <!-- 时间选择器核心脚本 -->
    <script src="/static/plugins/bootstrap-datetimepicker-4.17.47/bootstrap-datetimepicker.min.js"></script>




    <script>
        // var today = new Date();
        // var format_td = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        // document.getElementById("datetimepicker").datetimepicker({
        //     format: 'yyyy-mm-dd hh:00',
        //     language: 'zh-CN',
        //     todayBtn: 'linked',
        //     maxView: 3,
        //     minView: 1,
        //     autoClose: true,
        //     minuteStep: 30,
        //     startDate: format_td,
        //     pickerPosition: 'bottom-right'
        // });

            $("#datetimepicker").datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                // language: 'en',
                // pickDate: true,
                // pickTime: true,
                // hourStep: 1,
                // minuteStep: 15,
                // secondStep: 30,
                // inputMask: true
            });
            // $("#datetimepicker").datetimepicker();


        
        function sendMessage() {
            var mobiles = $("#mobiles").val();
            var content = $("#content").val();
            var sign = $("#sign").val();

            var datetime = $("#datetimepicker").val()

            if (mobiles == "") {
                alert("不能为空")
                return
            }
            if (content == "") {
                alert("不能为空")
                return
            }

            $.ajax({
                type: "GET",
                url: "/sms/send",
                data: {
                    "mobiles": mobiles,
                    "content": content,
                    "sign": sign,
                    "datetime": datetime,
                },
                success: function (result) {
                    $("#mobiles").val("");
                    $("#content").val("");
                    $("#sign").val("");
                    $("#datetime").val("");

                    console.log(result);
                    let res = jQuery.parseJSON(result);
                    alert(res.message)
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }
    </script>


    <!-- 页面内容结束 -->
</section>
<!-- /.content -->
