<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        修改密码
        <small>修改密码</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{urlfor "HomeController.Index"}}">
                <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">修改密码</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- 页面内容开始 -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>旧密码</label>
                <input type="text" id="oldpassword" name="Content" class="form-control" placeholder="请输入旧密码">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>新密码</label>
                <input type="text" id="newpassword" name="Sign" class="form-control" placeholder="请输入新密码">
            </div>
        </div>
        <div class="align-center">
            <button type="button" class="btn btn-primary" onclick="modifyPassword()">保存</button>
            <button type="button" class="btn btn-default" onclick="returnList()">返回</button>
        </div>
    </div>
    <!-- 页面内容结束 -->


    <script>
        function modifyPassword() {
            var oldPassword = $("#oldpassword").val();
            var newPassword = $("#newpassword").val();

            if (oldPassword == "") {
                alert("不能为空")
                return
            }
            if (newPassword == "") {
                alert("不能为空")
                return
            }
            if (oldPassword == newPassword) {
                alert("两次密码不能相同")
                return
            }

            $.ajax({
                type: "POST",
                url: "/backenduser/postmodifypassword",
                data: JSON.stringify({
                    "oldpwd": oldPassword,
                    "newpwd": newPassword,
                }),
                contentType: "application/json", //必须有
                success: function (result) {
                    console.log(result)
                    alert(result)
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }
    </script>


</section>
<!-- /.content -->